**python:** - easy syntax, interpreted, prebuilt lib & methods, oops
1. helpful in complex mathematical calculations required for data science
2. handle big data
3. create web applications also
4. everything is case sensitive in python language

In [5]:
print('hello prashant, you are rocking in this course and also you would be did exciting job done in this course, so proud of myself')

hello prashant, you are rocking in this course and also you would be did exciting job done in this course, so proud of myself

In [7]:
print("hello world")

hello world

In [15]:
input("Enter your name: ") #take user input

Enter your name:  Prashant

'Prashant'

In [21]:
#variable: value is not fixed
#value will be stored in memory location with name a
"""The memory allocation for objects happens on the heap memory. 
The heap is where all dynamically allocated objects, 
such as integers, lists, strings, and other data structures, are stored"""
a=30
print(a)

30

In [ ]:
print(print) #Error : int obj is not callable

In [ ]:
# multi-word varibles
# camel case--> myVariableNames
# pascal case--> MyVariName
# under_snake case--> my_vari_name

In [23]:
#many values to multiple variables at once
x,y,z=1,2,3
print(x,y,z)
print(x)

1 2 3
1

In [25]:
#one value to multiple variables
p=q=r=100
print(p,q,r)

100 100 100

In [27]:
#multiple values in one variable
multi_value=[1,2,3,4,5]
print(multi_value)

[1, 2, 3, 4, 5]

In [ ]:
# Datatypes --> what type of data we are using
# integer --> number (positive/negative)
# float --> decimal 1.2, 2.3
# string --> characters, alphabets, symbols, combination of all
# boolean --> true/false, 1/0, yes/no

In [43]:
x=10
print(type(x))

x=10.5
print(type(x))

x=True
print(type(x))

x='True'
print(type(x))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [49]:
# String representation: single quote, double quote, triple'''prashat''' for multiline
convn='''he hii "kick"'''
print(convn)

he hii "kick"

In [51]:
x="6" #string to float
y=float(x)
print(y)

6.0

**Methods:**
1. inbuilt functionalities provided by python
2. string methods : methods used to do operations on strings
3. capitalize :

In [7]:
#len(str1) : len ke bracket main likhna padta hain 
str="dfsf dkfj" #space will be countable
print(len(str))

9

In [9]:
#upper : convert all characters in a string to upper case
str1=str.upper()
print(str1)

DFSF DKFJ

In [11]:
#lower : convert all characters in a string to lower case
str1.lower()

'dfsf dkfj'

In [23]:
value="hi this is prashant"
print(len(value))
valueUpper = value.upper()
print(valueUpper)
valueLower = valueUpper.lower()
print(valueLower

19
HI THIS IS PRASHANT
hi this is prashant

In [31]:
#Capitalize
#capitalizes first letter capital
value="hi this is prashant"
value.capitalize()

'Hi This Is Prashant'

In [35]:
#title() : capitalize first letter of every word
value1="prashant bhosale"
value1.title()

'Prashant Bhosale'

In [45]:
#strip() : remove uneccessary white spaces from backside and frontside from given string
strStrip=" prashant bhosael "
print(len(strStrip))
str2=strStrip.strip()
print(len(str2))

18
16

In [55]:
#replace : 
value = "Hii this is prashant bhosale"
print(value)
value1=value.replace("Hii", "helllllo")
print(value1)

Hii this is prashant bhosale
helllllo this is prashant bhosale

In [69]:
#split()  : how to divide the string
value = "prashant bhosale"
value.split("a") #whenever "a" comes string will split

# value1= "hi, prash, hello, kaybhawa"
# value1.split(",")

['pr', 'sh', 'nt bhos', 'le']

**index :**
1. starts with zero : 0,1,2,3....
2. location of a element in a data
3. Negative indexing : start from ...-3,-2,-1
4. index is a method that belongs to sequences like lists, strings, and tuples.

In [92]:
value = "prashant"
value.index("s")

# int1 = 12345
# int1.index(3) #AttributeError: 'int' object has no attribute 'index'

 #index is a method that belongs to sequences like lists, strings, and tuples.

3

**Slicing**

In [ ]:
#slice : 

value = "hi how are you, 4545"
value[3:7]  #[start:end+1] 
#3 to 6 will be print
#7th charactor will skip

In [96]:
value = "hi how are you, 4545"
value[:7]  #[start:end+1]

'hi how '

In [98]:
value = "hi how are you, 4545"
value[3:]  #[start:end+1]

'how are you, 4545'

In [108]:
num = "1234567"
num[2:10]

'34567'

In [106]:
num2 = "1234567"
num2[2:5]

'345'

In [118]:
num2 = "1234567"
num2[2:5:1]
[2:5:1] #start:end+1:step size]

'345'

In [120]:
num2 = "1234567"
num2[2:5:2]

'35'

In [122]:
num2 = "1234567"
num2[2:6:2]
#A step of 2 means that you take every second character within the specified range.
# Visual Representation:
# Original String: "1 2 3 4 5 6 7"
# Indices: 0 1 2 3 4 5 6
#[2:6] result :2345
# Slicing Result: " 3 5" (steping 2 elements)

'35'

In [150]:
x=(1,2,3,4,5,6,7,8,9,10)
x[-10:-1]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [146]:
x=(1,2,3,4,5,6,7,8,9,10)
x[-8::-2]

(3, 1)

In [152]:
x=(1,2,3,4,5,6,7,8,9,10)
x[-8:]

(3, 4, 5, 6, 7, 8, 9, 10)

In [154]:
#string concatination
str="123456789"
str1="pdb"
str3=str+str1
print(str3)

123456789pdb

In [164]:
# f- format strings --> format to write strings
x="10"
print("i have " + x + " rupees")
print(f"i have {x} {x} rupees")
print(f"{x} i have {x} rupees")

i have 10 rupees
i have 10 10 rupees
10 i have 10 rupees

**OPERATORS**
1. arithmatic ==>  +,-,*,/,
* %,//,**

In [193]:
x=100
y=3
# % Modulo --> returns the remainder(baki)
# / return quotient (bhagakar)
# // returns the quotient but in integer datatype(bhagakar in int)
print(x%y) #baki
print(x/y) #bhagakar
print(x//y) #bhagakar but in integer datatype
print(x**y) #100^3 : 100 cha cube
print(y**3) #3^3 : 27 (cube of 3)

1
33.333333333333336
33
1000000
27

2. Assignment operator
* =, +=, -=, *=, /=, %=, //=, **=
*

In [181]:
x=10
x-=2  #x=x-2
print(x)

8

In [183]:
x=10
x*=2  #x=x*2
print(x)

20

In [187]:
x=10
x/=2  #x=x/2
print(x)

5.0

In [189]:
x=10
x%=2  #x=x%2
print(x)

0

In [191]:
x=10
x//=2  #x=x//2 : bhagakar in int
print(x)

5

In [197]:
x=10
x**=2  #x=x**2  : 10 cha square 100
print(x)

y=4
y**=2 #4 cha square 16
print(y)

100
16