# Lambda Function : to do small task
1. this function is anonymous (without name) & without using keyword 'def'
2. can take any number of Arguments but can only have one Expression.
3. functionalities are stored in a variable, when variable is printed the output of the function is displayed
4. when we have to do small task we use lambda function
5. Lambda keyword is used instead of "def" keyword
6. we have to write this code in one line
7. in python "for loop incrementation happen automatically"

# Uses of Lambda Function :
* when we need simple function for a short operation.
* they often used in "high ordered functions" like : map(), filter(), sorted().
* Functional programming: where function passed as arguments & return from other functions.
* when you need simple one time use function without the overhead of full function defination.

### Normal function :

In [50]:
#addition of two number using normal def function
def add(a,b):
    return a+b
add(5,5)

10

### Lambda function:

In [57]:
add  = lambda a,b : a + b     #variable = lambda Parameters : Expression
print(add(5,5))

10

In [90]:
sb = lambda a,b : a-b

In [92]:
sb(90,76)

14

In [2]:
add = lambda x, y: x+y  #variable = lambda Parameters : Expression
print(add(3,5))  #print(variable(arg))

8

In [60]:
add = lambda x, y = 15, z = 24 : x+y+z  #value declared in lambda 
print(add(20))

59

In [64]:
addition = lambda *args : sum(args) 
#*args: we can pass multiple number of arguments, sum() inbuilt funtion
print(addition(20,2,40,50))

112

**Higher-Order Functions:**
* They are often used as arguments to higher-order functions like map(), filter(), and sorted().

In [66]:
#higher order function
higher_ord_fun = lambda x, fun: x + fun(x)
higher_ord_fun(20, lambda x : x*x)

420

In [5]:
#by NISHAD : mean of 6 numbers (0,1,2,3,4,5)/6 --> 17/6 --> 2.5
a =lambda *args : sum(args)/len(args)
b =  lambda  : [i for i in range(6) ]
a(*b())

2.5

In [8]:
(lambda x : (x%2 and 'odd' or 'even') )
(250)

250

**AND**
* Purpose: The and operator returns True if both operands (expressions) are True. 
If either operand is False, the and operator returns False.
* example :
if age > 18 and has_license:
    print("You can drive.")
  
**OR**
* Purpose: The or operator returns True if at least one of the operands (expressions) is True. If both operands are False, the or operator returns False.
* example :
if age > 18 or has_permission:
    print("You can enter.")

In [79]:
sub_string = lambda string : string in "welcome python"
print(sub_string('python'))

#(sub_string('python') he "Lambda string" madhe pass honar then "string in " " madhe check karnar & then return true or false to sub_string

True

In [88]:
#greater number from list : >30
num = [10,56,33,29,55]
greater = list(filter(lambda num : num > 30, num))
print(greater)

# filter function is used to filter elements from the list num based on a condition. 
# The filter function, combined with a lambda function, 
# helps to create a new list containing only the elements that meet the specified condition.
#The filter function takes this lambda function and applies it to each element of the list num.

[56, 33, 55]

In [ ]:
list1

In [10]:
#Questions:
#pass 2 value and check which one is greatest
Greatest = lambda x, y: x if x>y else y 

print(Greatest(5,6))

6

In [12]:
#check if a number is even or not
even = lambda x:x%2==0
print(even(4))

True

In [16]:
#filter out the negative numbers from a list
negative = lambda list1: [x for x in list1 if x>=0]
#[-1,2,-4,2,3] this list is passing in list1..... calling 'negative' variable is stored result of this lambda function & list1 is passing in expression
print(negative([-1,2,-4,2,3]))

[2, 2, 3]

# Practice : 
## Logical Questions

In [18]:
#Q. take a input of list having duplicate values and remove those duplicates and return a list with unique values
list1 = [1,2,2,3,4,5,5,6,7]
print(list(set(list1)))

[1, 2, 3, 4, 5, 6, 7]

In [24]:
num = int(input("enter a number"))
list1 = []
for i in range(num):
    input_new = int(input("enter a number for list element"))
    list1.append(input_new)
print(list1)

print(list(set(list1)))

enter a number 5
enter a number for list element 2
enter a number for list element 3
enter a number for list element 4
enter a number for list element 5
enter a number for list element 3

[2, 3, 4, 5, 3]
[2, 3, 4, 5]

In [28]:
#Q. factorial=5! = 5*4*3*2*1 WAP in which u take user input and calculate fact!

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
number = int(input("Enter a number to calculate its fact!: "))
result = factorial(number)
print(f"The factorial of {number} is {result}")

Enter a number to calculate its fact!:  4

The factorial of 4 is 24

In [30]:
#Q. check if a string is palindrome or not

def string_palindrome(s):
    return s == s[::-1]

string = input("Enter a palindrome string: ")

if string_palindrome(string):
    print(f"'{string}' is a palindrome.")
else:
    print(f"'{string}' is not a palindrome.")

Enter a palindrome string:  nitin

'nitin' is a palindrome.

In [32]:
str='sdfds' 
s = str[::-1]
print(s)
if str == s:
    print("palindrome")
else: 
    print("not palin")

sdfds
palindrome

In [ ]:
#Q. take list and count the number of even and odd element in list

In [34]:

#Q. create a function  and take a integer as input and check if it is an armstrong number or not  
# 153 = 1^3 + 5^3 + 3^3 = 153

def armstrg(num):
    nstr = str(num) #"153"
    ndigits = len(nstr) #3
    sum_pow = sum(int(poonam) ** ndigits for poonam in nstr)
    return sum_pow == num
num = 153
print(armstrg(num))

TypeError: 'str' object is not callable